[Unit]
Description=BeeBaby Admin
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/dev/beebaby-admin
ExecStart=/usr/bin/node server/dist/index.js
Restart=always
RestartSec=5
Environment=HOST=100.103.192.66
Environment=PORT=8001
Environment=NODE_ENV=production

[Install]
WantedBy=default.target
